*{
    box-sizing: border-box;
    margin: 0;
}

section,footer{
    white-space: wrap;
    word-break: break-word;
}


body{
    margin: 0px;
    padding: 0px;
    /* height: 100vh; */
    font-family: Arial;
    text-align: center;
}

.navbar {
    background-color: #517ef1;
    display: flex;
    flex: 60px 0 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* height: 60px; */
}

.navbar img{

    transform: scale(0.2);
    position: absolute;
    top: -70px; 
    right: -40px; 
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding : 3px;
    transform: rotate(45deg);
    position:absolute;
    top: 25px;
    right: 30px; 
}

.accountInformation {
    height: 68vh;
    position: relative;
}

.table div{
    margin: 10px;
}

.credentials {
    text-align: center;
}

.table {
    background: linear-gradient(to bottom, #517ef1 45%, white 0%); 
    height: 55vh;
    width: 60vh;
    border: 4px solid #517ef1;
    border-radius: 10px;
    font-size: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 35%;
}


.table img{
    margin-bottom: 5vh;
}


.bottom-banner {
    background-color: #517ef1;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s all ease;
}

.linked-pages a{
    margin: 10px auto;
    color: white;
    text-decoration: none;
}

.linked-pages{
    display: flex;
    flex-direction: column;
}

.contact-details div{
    color: white;
    margin: 10px;
}

@media all and (max-width: 428px) {
    .login-register{
        flex-wrap: wrap;
        gap: 10%;
    }

    .login{
        width:100vw;
        border-right: 0px;
        border-bottom: 1px solid gray;
    }

    .register{
        width:100vw;
        margin-bottom: 50px;
    }

    .login input{
        width: 90vw;
        height: 4vh;
    }

    .login form button{
        width: 90vw;
    }

    .register form button{
        width: 90vw;
    }

    .register input{
        width: 90vw;
        height: 4vh;
    }

    .bottom-banner{
        height: 35vh;
        justify-content: space-around;
        align-items: space-around;
        flex-direction: column;
    }

}


@media all and (max-width: 834px) and (min-width: 429px){
    .login-register{
        flex-wrap: wrap;
        gap: 10%;
    }

    .login{
        width:100vw;
        border-right: 0px;
        border-bottom: 1px solid gray;
    }

    .register{
        width:100vw;
        margin-bottom: 50px;
    }

    .login input{
        width: 80vw;
        height: 4vh;
    }

    .login form button{
        width: 30vw;
    }

    .register form button{
        width: 30vw;
    }

    .register input{
        width: 80vw;
        height: 4vh;
    }

    .bottom-banner{
        justify-content: space-around;
        align-items: space-around;
    }

}