<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/account.css">
    <title>Account</title>
</head>
<body>
    <div class="navbar">
        <div style="color: white; margin:20px; font-size: 1.4rem;"> Authentication App</div>
        <div class="profile-menu"> 
            <img src="css/profile1.png" alt="Image not loaded" />
            <div class="arrow"></div>
        </div>
    </div>
    <div class="accountInformation">
        <div class="table">
            <img src="css/profile1.png" alt="Image not loaded" />
            <div class="credentials">
                <div>Username:</div>
                <div>Email:</div>
            </div>
        </div>
    </div>
    <div class="bottom-banner" id="bottBanner">
        <div style="color: white; font-size: 1.4rem;"> Authentication App</div>
        <div class="linked-pages">
            <a href="homepage.html">Home</a>
            <a href="contact-us.html">Contact Us</a>
            <a href="homepage.html">Page 1</a>
            <a href="contact-us.html">Page 2</a>
        </div>
        <div class="contact-details">
            <div>(+40) 0000000000</div>
            <div>(+40) 0000000000</div>
            <div>contact@authapp.com</div>
        </div>
    </div> 
</body>
</html>